.button {
    border: 1px solid grey;
    border-radius: 0.25rem;
    text-decoration: none;
}

.sizeLg {
    composes: py-2 px-3 text-lg from global;
}

.sizeM {
    composes: py-1 px-2 text-sm from global;
}

.sizeSm {
    composes: py-1 px-1 text-xs from global;
}

.themePrimary {
    composes: bg-purple-600 text-white from global;
}

.themeBase {
    /* composes:  from global; */
}
