.header {
    background-color: lightblue;
    padding: 1.5rem 1rem;
    margin-bottom: 1rem;
}

.nav {
    composes: flex items-center from global;
    justify-content: space-between;
}

.cta {
    composes: flex items-center from global;
}

.logo {
    font-size: 1.5rem;
}
